<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProblemSolverApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ProblemSolverApp.Properties.Settings>
            <setting name="ControlBackground" serializeAs="String">
                <value>229, 229, 229</value>
            </setting>
            <setting name="ControlMenuBackground" serializeAs="String">
                <value>204, 204, 204</value>
            </setting>
            <setting name="ControlTitleBackground" serializeAs="String">
                <value>127, 127, 127</value>
            </setting>
            <setting name="MenuBackground" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="MainBackground" serializeAs="String">
                <value>250, 250, 250</value>
            </setting>
            <setting name="ToolbarBackground" serializeAs="String">
                <value>218, 218, 218</value>
            </setting>
            <setting name="ToolbarColor" serializeAs="String">
                <value>180, 180, 180</value>
            </setting>
        </ProblemSolverApp.Properties.Settings>
    </userSettings>
</configuration>
